body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color:#f5f5f5;
}

.question{
margin-top: 40px;
}

.option {
  background-color: #f5f5f5;
  border: 1px solid #848383;
  border-radius: 5%;
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  margin-left: 5px; 
  margin-top: 40px;
}

.drop-box {
  text-align: center;
}

.drop-zone {
  border: 2px solid #0a0a0a;
  min-height: 100px;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.drop-zone.hovered {
  border-color: #a19a9a;
 
}

button {
  border-radius: 10%;
  border-color:gray;
  cursor: pointer;
}

#submitBtn {
  margin-right: 50px;
  margin-left: 50px;
}

#restartBtn {
  margin-right: 50px;
  margin-left: 50px;
}

#nextpage {
  margin-right: 50px;
  margin-left: 50px;
}
