body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:#f5f5f5;
    margin-top: 300px;   
  }
  
  button{
    height: 50px;
    width: 150px;
    font-size: 20px;
  }
